.DS_Store
node_modules
front-end/build
front-end/.svelte-kit
back-end/app.log
assets/logo/*
!assets/logo/company-default.png
assets/avatar/*
!assets/avatar/user-default.png
package-lock.json
.env
.env.*
!.env.example
